services:
  devcontainer:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - /etc/localtime:/etc/localtime:ro,cached
    command: -c 'sleep infinity'
    user: vscode
    group_add:
      - keep-groups
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    hostname: devcontainer
    ports:
      - 8000:8000
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
      nproc: 65535

  dolt:
    env_file:
      - .env
    image: docker.io/dolthub/dolt-sql-server:$DOLT_VERSION
    volumes:
      - ./data/dolt:/var/lib/dolt
    ports:
      - $DOLT_PORT:3306
    stop_grace_period: 1m
