/* Copyright 2026 Joshua Rich <joshua.rich@gmail.com>. */
/* SPDX-License-Identifier: 	AGPL-3.0-or-later */

@import 'tailwindcss' source('../templates/**/*.{html,templ}');
@import 'tailwindcss-safe-area';
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-visibility";
@plugin "daisyui" {
  themes: light, dark, synthwave;
  exclude: properties;
}

:root {
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-primary) transparent;
}

/* Global custom theme values. */
@theme {
  --font-sans: 'Inter', sans-serif;
  --font-sans--font-feature-settings:
    'liga' 1, 'ccmp' 1, 'calt' 1, 'ss01' 1, 'ss03' 1, 'cv02' 1, 'cv03' 1,
    'cv04' 1, 'cv11' 1;
  --sidebar-width: var(--w-sm);

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes grow-bar {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}

/* Use page view transitions. */
@view-transition {
  navigation: auto;
}

@layer base {
  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
      font-optical-sizing: auto;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [data-loading] {
    display: none;
  }

  el-menu {
    @apply bg-base-300 outline-base-content/15 transition-discrete data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in origin-top-right rounded-md py-2 shadow-lg outline-1 -outline-offset-1 transition [--anchor-gap:--spacing(2.5)];
    a {
      @apply focus:text-primary focus:outline-hidden flex items-center gap-4 px-4 py-2 text-sm no-underline hover:underline;
    }
  }

  dialog {
    @apply backdrop:bg-transparent;
  }

  el-dialog-backdrop {
    @apply bg-base-100/25 data-closed:opacity-0 fixed inset-0 transition-opacity duration-300 ease-linear;
  }

  el-dialog-panel {
    @apply data-closed:scale-95 data-closed:opacity-0 transition duration-200;
  }
}

@layer components {
  .htmx-indicator {
    @apply pointer-events-none invisible opacity-0;
  }
  .htmx-request .htmx-indicator,
  .htmx-request.htmx-indicator {
    @apply pointer-events-auto visible opacity-100 transition-opacity duration-200 ease-in;
  }

  /* Default: hide the loading span */
  .show-loading {
    @apply hidden;
  }
  /* While in-flight: show it */
  .in-flight-request > .show-loading {
    @apply inline-flex;
  }
  .htmx-request > .show-loading {
    @apply inline-flex;
  }

  /* Default: show the content span */
  .hide-loading {
    @apply inline-flex;
  }
  /* While in-flight: hide it */
  .in-flight-request > .hide-loading {
    @apply hidden;
  }
  /* While in-flight: hide it */
  .htmx-request > .hide-loading {
    @apply hidden;
  }
}

@utility ui-container {
  @apply mx-auto max-w-7xl px-4 pt-8 sm:px-6 lg:px-8;
}

@utility ui-grid {
  @apply grid grid-cols-1 place-items-center gap-4 sm:grid-cols-3;
}

@utility ui-card {
  @apply card bg-base-200 mx-auto h-full w-full max-w-prose shadow-md;
}
